# Dependencies
node_modules/

# Production build / preview
dist/

# Scratch & temporary files
scratch/
*.zip

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# System Files
.DS_Store
Thumbs.db
